.psude_elements {
    font-size: 20px;
}

.psude_elements::first-letter {
    color: red;
    font-size: 30px;
}

.psude_elements::first-line {
    font-size: 25px;
    font-weight: bold;
}

.warning::before {
    content: "Warning";
    font-weight: bold;
    font-size: 20px;
    color: rgb(190, 141, 19);
}

.warning::after
{
    content:"Be careful";
    font-weight: bold;
    font-size: 20px; 
    color: rgb(190, 141, 19);
}

::selection
{
    color:white;
    background-color: red;
}