@font-face {
    font-family: "neueBold";
    src: url(./fonts/TT\ Firs\ Neue\ Trial\ Medium.ttf)
}

@font-face {
    font-family: "neueRegular";
    src: url(./fonts/TT\ Firs\ Neue\ Trial\ Regular.ttf);
}

@font-face {
    font-family: "neueThin";
    src: url(./fonts/TT\ Firs\ Neue\ Trial\ Thin.ttf);
}
@font-face
{
    font-family: "neunBoldOutLine";
    src: url(./fonts/TT\ Firs\ Neue\ Bold\ Outline\ Trial.otf);
}

@font-face
{
    font-family: "neueExtraBold";
    src: url(./fonts/TT\ Firs\ Neue\ Trial\ ExtraBold.ttf);
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

.font-48 {
    font-size: 48px;
}

.font-36
{
    font-size: 36px;
}
.font-38
{
    font-size: 38px;
}

.font-60
{
    font-size: 60px;
}
.font-64 {
    font-size: 64px;
}

.font-96 {
    font-size: 96px;
}

.font-276
{
    font-size: 276px;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

.neueBold {
    font-family: "neueBold";
}

.neueRegular {
    font-family: "neueRegular";
}

.neueThin {
    font-family: "neueThin";
}

.extrabold
{
    font-weight: 700;
}