img {
    width: 100%;
    height: 100%;
}

.border-b {
    border-bottom: 0.5px solid #000;
}

.list-none {
    list-style: none;
}

.w-16 {
    width: 16px;
}

.h-16 {
    height: 16px;
}

.w-30 {
    width: 30px;
}

.h-30 {
    height: 30px;
}

.h-150 {
    height: 150px;
}

.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.w-20_percent {
    width: 20%;
}

.w-40_percent {
    width: 40%;
}
.w-45_percent {
    width: 45%;
}


.w-50_percent {
    width: 50%;
}

.w-60_percent {
    width: 60%;
}

.w-70_percent {
    width: 70%;
}

.w-90_percent {
    width: 90%;
}


.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

.arrow_wrapper {
    width: 40px;
    height: 40px;
    padding: 42px;
    border-radius: 50%;
    border: 1px solid black;
}


.service_hover:hover {
    color: red;
    font-family: "neueBold";
}

.service_hover::after {
    color: #EF4242;
    content: url("./../img/serviceArrow.svg");
}


.color_red {
    color: red;
}

img {
    width: 100%;
    height: 100%;
}