html
{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

nav{}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
}